body {
  background-color: rgb(158, 235, 154);
}

.service-section {
  padding: 50px 0;
  text-align: center;
  margin-top: 2%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.book-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  position: relative; 
  width: 250px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.book-item img {
  width: 100%;
  border-radius: 6px;
  transition: opacity 0.3s ease; 
}

.book-item:hover .buy-button {
  display: block; 
}

/* Buy button */

.buy-button {
  display: none; /* Initially hidden */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.buy-button:hover {
  color: rgba(0, 0, 0, 1);
  background-color: white;
}

/* wishlist */
.book-item {
  position: relative; 
}

.book-image {
  width: 100%; 
  height: auto; 
}

.heart-button {
  position: absolute; 
  bottom: 10px; 
  right: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
}

.heart-button img {
  width: 100%; 
  height: 100%; 
}

/* top section */

.top-section {
  padding: 50px 0;
  margin-top: 10%;
  background-color: #dbf361b7;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: 400px;
}

.top-section .content {
  margin-right: 50px;
  text-align: right;
  padding-right: 20px;
  width: 50%;
}

.top-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 26%;
}

.top-section p {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: large;
  margin-right: 56%;
}

.top-section button {
  font-weight: bold;
  padding: 10px 20px;
  background-color: rgb(158, 235, 154);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50%;
}

.top-section button:hover {
  background-color: black;
  color: rgb(158, 235, 154);
}

/* menu */

header {
  margin: 20px auto;
  background-color: black;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99; /* ensure menu stays on top */
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.3s ease-in-out;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  position: relative;
  list-style: none;
  margin: 0;
  margin: 0 5px;
  float: left;
  width: auto;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 18px;
}

.menu li a {
  padding: 10px 20px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  display: block;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, font-size 0.5s ease-in-out,
    padding 0.3s ease;
  padding: 10px 20px;
}

.menu ul li a:hover {
  background-color: rgb(158, 235, 154);
  font-size: 20px;
  color: black;
  padding: 15px 25px;
}

.menu.active {
  top: -60px;
}

/*Slide show*/
.slidefade {
  height: 400px;
  width: 35%;
  object-fit: cover;
}

.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.slidefade img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
